*{
		margin: 0;padding: 0;
}
html,body{
	height: 100%;
	overflow: hidden;
}
.container,.sections,.section{
	height: 100%;
}
#section0,#section1,#section2{
	background-color: #000;
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;
}
#section0{
	background-image: url(../images/1.jpg);
}
#section1{
	background-image: url(../images/2.jpg);
}
#section2{
	background-image: url(../images/1.jpg);
}